* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #73757c;
  background-color: #f7f8f7;
  text-align: center;
}

a {
  text-decoration: none;
  color: #f7f8f7;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Navbar */

.nav {
  position: static;
}

.nav-desktop {
  width: auto;
  border-bottom: 1px solid #312835;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #312835;
  display: flex;
  justify-content: space-between;
}

.nav-language {
  margin: auto 0.65rem;
}

.flag {
  width: 1.6rem;
  border-radius: 50%;
  border: 1px solid #57467b;
  margin: 0.65rem;
}

.nav-list {
  display: flex;
}

.nav-item {
  list-style: none;
  padding: 1.87rem;
}

.nav-link {
  color: #f7f8f7;
  font-size: 0.95rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: -0.3rem;
  padding: 0.3rem;
}

.nav-mobile {
  display: none;
}

/* Navbar animation */

@media only screen and (min-width: 769px) {
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all 0.5s;
  }

  nav ul li a:hover {
    color: #a3a2a3;
  }

  nav.nav ul li a {
    position: relative;
  }

  nav.nav ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #f7f8f7;
    height: 1px;
  }
  nav.nav ul li a:hover:after {
    width: 100%;
  }
}

/* Principal */

section.principal {
  padding: 3.125rem;
}

.img-me {
  max-width: 25rem;
  border-radius: 50%;
  margin-bottom: 3.125rem;
  border: solid 1px #312835;
}

.intro-name {
  font-family: "Julius Sans One", sans-serif;
  color: #312835;
  font-size: 2.5rem;
}

.intro-h2 {
  font-size: 1.875rem;
  font-weight: 100;
}

/* Proyectos */

section.proyectos {
  background-color: #a3a2a3;
  padding: 3.125rem;
}

.title-proyectos {
  font-family: "Julius Sans One", sans-serif;
  color: #f7f8f7;
  font-size: 1.875rem;
}

.proyectos-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.proyecto {
  min-height: 18.75rem;
  width: 18.75rem;
  padding: 1.25rem;
  margin: 1.875rem;
  background-color: #f7f8f7;
  border-radius: 5%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.proyectos-titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.proyectos-txt {
  text-align: justify;
  text-indent: 1rem;
}

.ListenToMe-img {
  width: 100%;
  border-radius: 1rem;
}

.ListenToMe-titulo {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  margin: 0.5rem 1rem;
}

.fa-up-right-from-square {
  font-size: 1rem;
  color: #73757c;
}

.fa-up-right-from-square:hover {
  color: #312835;
}

/* Skills */

section.skills {
  padding: 3.125rem;
}

.title-skills {
  font-family: "Julius Sans One", sans-serif;
  color: #312835;
  font-size: 1.875rem;
}

.logos-tecnos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tecno {
  height: 3.75rem;
  padding: 1.25rem;
}

/* Contacto */

section.contacto {
  background-color: #a3a2a3;
  padding: 3.125rem;
}

.title-contacto {
  font-family: "Julius Sans One", sans-serif;
  color: #f7f8f7;
  font-size: 1.875rem;
}

.form-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

form {
  min-height: 18.75rem;
  width: 18.75rem;
  padding: 1.25rem;
  background-color: #f7f8f7;
  border-radius: 5%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.inputs {
  margin: 0.625rem;
  padding: 0.313rem;
  background-color: #f7f8f7;
  border: none;
  border-bottom: solid 1px #57467b;
  width: 12.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #73757c;
}

textarea {
  resize: vertical;
}

.submit-btn {
  border: none;
  border-radius: 0.188rem;
  position: relative;
  padding: 0.75rem 1.875rem;
  margin: 0.625rem 1px;
  font-family: "Josefin Sans", sans-serif;
  color: #312835;
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  background-color: #efefef;

  box-shadow: inset 0 0 0 0 #efefef;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.submit-btn:hover {
  box-shadow: inset 9.375rem 0 0 0 #312835;
  color: #efefef;
}

.submit-btn:focus {
  color: #312835;
  box-shadow: inset 9.375rem 0 0 0 #f7f8f7;
}

/* Patitas */

hr.patita-light,
hr.patita-primary {
  margin: 1.563rem auto 1.875rem;
  padding: 0;
  max-width: 15.625rem;
  border: 0;
  border-top: solid 0.188rem;
  text-align: center;
  overflow: visible;
}

hr.patita-light:after,
hr.patita-primary:after {
  content: "\f1b0";
  display: inline-block;
  position: relative;
  z-index: 0;
  top: -0.8em;
  padding: 0 0.25em;
  font-family: FontAwesome;
  font-size: 2em;
}

hr.patita-light {
  border-color: #f7f8f7;
}

hr.patita-light:after {
  color: #f7f8f7;
  background-color: #a3a2a3;
}

hr.patita-primary {
  border-color: #312835;
}

hr.patita-primary:after {
  color: #312835;
  background-color: #f7f8f7;
}

/* Footer */

footer {
  padding: 3.125rem 0;
  background-color: #312835;
  border-top: 1px solid #312835;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
}

.title-redes {
  color: #f7f8f7;
  font-size: 1.25rem;
  font-weight: 100;
}

.icon-git,
.icon-twitter,
.icon-insta,
.icon-linkedin {
  font-size: 1.25rem;
  width: 1.563rem;
  line-height: 1.563rem;
  border-radius: 50%;
  border: 1px solid #57467b;
  text-align: center;
  margin: 0.625rem 0.5rem;
  padding: 0.125rem;
  background-color: #f7f8f7;
}

.icon-git {
  color: #6e5494;
}

.icon-twitter {
  color: #1da1f2;
}

.icon-insta {
  color: #e1306c;
}

.icon-linkedin {
  color: #0077b5;
}

.copyright {
  margin-top: 2.5rem;
}

/* 404 + Thank You */

.not-found {
  padding: 3.125rem;
  margin: 2rem;
}

.thank-you {
  margin: 1rem;
}

.not-found-container,
.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.not-found-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.not-found-img-container {
  max-width: 18rem;
}

.not-found-img,
.thank-you-img {
  max-width: 18rem;
}

.not-found-txt,
.thank-you-title {
  font-family: "Julius Sans One", sans-serif;
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
}

.not-found-title {
  margin-bottom: 2rem;
}

.thank-you-title,
.thank-you-txt {
  color: #312835;
  margin-bottom: 1rem;
}

.not-found-link,
.back-link {
  color: #312835;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rickroll {
  margin-bottom: 1.5rem;
}

.back {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

/* Link animation */

@media only screen and (min-width: 769px) {
  .not-found-link,
  .not-found-link:after,
  .not-found-link:before,
  .back-link,
  .back-link:after,
  .back-link:before {
    transition: all 0.5s;
  }

  .not-found-link:hover,
  .back-link:hover {
    color: #a3a2a3;
  }

  .not-found-link,
  .back-link {
    position: relative;
  }

  .not-found-link:after,
  .back-link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #312835;
    height: 1px;
  }

  .not-found-link:hover:after,
  .back-link:hover:after {
    width: 100%;
  }
}

/* Responsive */

@media only screen and (max-width: 768px) {
  /* Navbar */

  .navbar {
    position: fixed;
  }

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    width: 100%;
    border-bottom: 1px solid #312835;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #312835;
    display: flex;
    justify-content: space-between;
  }

  .nav-mobile,
  .burger-open {
    position: fixed;
    z-index: 50;
    height: 3rem;
    box-sizing: border-box;
  }

  .burger-menu {
    color: #f7f8f7;
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }

  .burger-open {
    margin-top: 2.9rem;
    right: 0;
    padding: 0.25rem;
    background-color: #312835;
    height: 100vh;
    width: 100vw;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .burger-item {
    margin: 2rem 0;
    text-transform: uppercase;
  }

  .burger-redes {
    position: fixed;
    bottom: 0;
    margin-bottom: 2rem;
  }

  /* Sections */

  section.principal,
  section.proyectos,
  section.skills,
  section.contacto,
  .not-found,
  .not-found-content,
  .thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.principal {
    min-height: 89vh;
  }

  section.proyectos,
  section.skills,
  section.contacto {
    min-height: 83vh;
  }

  .title-proyectos,
  .title-skills,
  .title-contacto {
    margin-bottom: 3rem;
  }

  .img-me {
    max-width: 15rem;
    margin-top: 5rem;
  }

  .intro-name {
    margin-bottom: 4rem;
  }

  .intro-h2 {
    margin-bottom: 1.5rem;
  }

  .proyecto,
  form {
    margin: 2rem 0;
    max-width: 17rem;
  }

  .tecno {
    height: 3rem;
  }

  footer {
    padding: 1rem 0;
  }

  .redes {
    display: none;
  }

  .copyright {
    margin: 1rem;
  }

  .not-found {
    margin: 0;
    min-height: 77vh;
  }

  .not-found-img,
  .thank-you-img {
    max-width: 10rem;
    margin-top: 5rem;
  }

  .not-found-txt {
    font-size: 1rem;
  }

  .thank-you {
    margin: 0;
    min-height: 89vh;
  }
}

/* :root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */
